html, body{
	padding: 0;
	margin: 0;
}

#profile-right{
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	background-color: royalblue;
}

#sign-out, #sign-out a{
	margin-bottom: 0px;
	width: 100%;
	text-align: center;
	color: white;
}
#content-left{
	height: auto;
	min-height: 100vh;
	background-color: white;
	padding: 0;
}

.col-xs-12, .content-block{
	border-bottom: 2px solid #ccc;
	height: 30vh;
	padding: 15px;
	margin: 0;
	width: 100%;
}
.content-block{
	padding: 0;
}

.content-block-wrapper-inner{
	height: 100%;
}

.content-info{
	border: 1px dotted pink;
	height: 100%;
}

.sentiment-indicator{
	height: 100%;
}

#profile-image{
	width: 100%;
	padding: 27.5%;
	
}

.good{
	text-align: center;
	background-color: #3aba34;
}
.good h1:before{
	content: "\002714";
	color: white;
	width: 100%;
	
}


.neutral{
	text-align: center;
	background-color: orange;
}

.neutral h1:before{
	content: "\2022";
	width: 100%;
	color: white;
}

.bad{
	text-align: center;
	background-color: darkred;
}

.bad h1:before{
	content: "!";
	width: 100%;
	color: white;
}