<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SD_TestConnectionString" connectionString="Data Source=ITWSCap2017;Initial Catalog=SD_Test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="SD_TestConnectionString2" connectionString="Data Source=ITWSCap2017;Initial Catalog=SD_Test;Persist Security Info=True;User ID=sa;Password=ITWS123$%"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=127.0.0.1;Initial Catalog=SD_Test;Persist Security Info=True;User ID=sa;Password=ITWS123$%;" />
    <add key="DBDataAdapterType" value="MySql.Data.MySqlClient.MySqlDataAdapter, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add key="DBConnectionType" value="MySql.Data.MySqlClient.MySqlConnection, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add key="DBDataAdapterType" value="MySql.Data.MySqlClient.MySqlDataAdapter, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add key="WAVFileLocation" value="C:\\audio" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="Microsoft.VisualStudio.Validation, Version=14.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.VisualStudio.Threading, Version=14.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Default.asp" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.htm" />
        <remove value="default.aspx" />
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>